{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main_projects %}
	{% for post in data %}
	<div class="col-md-4">
	  <h3>{{post.title}}</h3>
	  <p>{{post.description}}</p>
	  <p><a href="{{post.link}}" target="_blank">Ver Proyecto </a></p>
	</div>
	{% endfor %}
{% endblock %}
