<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/global.css">
    <link rel="stylesheet" href="assets/css/media.css">
</head>
<body>

<div class="header">
  <div class="container-fluid">
    <div class="row">
		<nav class="navbar navbar-header-wrapper navbar-expand-lg navbar-light">
		      <div class="navbar-header col-md-3">
				<div class="brand logo">
				  <a href="/" title="Inicio" rel="home" class="site-branding__logo">
				    <img src="assets/images/logo-soho.png" alt="Inicio">
				  </a>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
		      </div>
			  <div class="col-md-9">
			  	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<div class="main-menu">
					    <nav role="navigation" id="block-landingpage-menu" class="contextual-region">  
					        <ul class="sm menu-base-theme" id="main-menu">
					            <li class="active">
					        	  <a href="/" class="is-active">inicio</a>
					            </li>
					            <li>
					        	  <a href="#">nosotros</a>
					            </li>
					            <li>
					            	<a href="#">servicios</a>
					            </li>
					            <li>
					            	<a href="#">casos de éxito</a>
					            </li>
					            <li>
					            	<a href="#">únete al equipo</a>
					            </li>
					            <li>
					            	<a href="#">contacto</a>
					            </li>
					        </ul> 
					    </nav>
				    </div>
				  </div>
			  </div>
		</nav>
    </div>
  </div>
</div>
<div class="hero-banner">
      <img class="img-responsive" src="assets/images/banner_home.jpg" alt="Banner home">
      <div class="container clearfix wrapper-text-banner">
        <div class="hero-banner-description">
          <h2 class="banner-title blanco bold">Nos especializamos en</h2>
          <h2 class="banner-subtitle verde-claro bold">interfaces digitales que los usuarios aman</h2>
          <div class="wrapper-button-banner">
            <a href="#" class="contact-button-verde">Hablemos de tu proyecto</a>
          </div>
        </div>
      </div>
</div>
<div class="header-aside-cta container-fluid">
  <div class="cta-logo">
  	<img class="img-responsive" src="assets/images/live.png" alt="logo cta">
  </div>
  <div class="cta-title"><span class="uppercase">En directo</span> - SOHO está presente en el <span class="uppercase">Digital Bank Montevideo</span>, "Experiencia de usuario" por Alvaro Anon(SEO de Soho)</div>
  <a href="#" class="contact-button-verde">Ver evento</a>
  <a href="#" class="contact-button-negro uppercase">Próximos eventos</a>
</div>

<div class="main-content section-middle">
  <div class="container">
      <div class="row layout">
          <div class="col-md-12">
           <article class="node node--type-page node--promoted node--view-mode-teaser">
			    <h2 class="title-section pb-4"> 17 años de experiencia en pos de tu proyecto </h2>
			    <div class="clearfix text-formatted field field--name-body">
			    	<p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			    </div>
			</article>
          </div>      
      </div>
  </div>
</div>

<div class="features">
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-md-4 block-content-service b1-block">
	      <div id="block-features1" class="content">
	            <div class="clearfix text-formatted field field--name-body">
					<h2>User Interface</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
	      </div>
	    </div>
	    <div class="col-md-4 block-content-service b2-block">
	      <div id="block-features2" class="content">
	            <div class="clearfix text-formatted field field--name-body">
					<h2 >User Interface</h2>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
	      </div>
	    </div>
	    <div class="col-md-4 block-content-service b3-block">
	      <div id="block-features3" class="content">
	            <div class="clearfix text-formatted field field--name-body">
					<h2>User Interface</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				</div>
	      </div>
	    </div>
	  </div>
	</div>
</div>


<div id="main_projects" class="section-middle">
  <div class="container">
  	<div class="row clearfix">
	  <div class="col-md-12">
           <article class="node node--type-page node--promoted node--view-mode-teaser">
			    <h2 class="title-section pb-4">Proyectos destacados </h2>
			    <div class="clearfix text-formatted field field--name-body">
			    	<p>Lorem Ipsum&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			    </div>
			</article>
          </div>
      {% block main_projects %}{% endblock %}
    </div>
  </div>
</div>

<div id="service1" class="services bg-azul">
	<div class="container-services">
	    <div class="row clearfix">    
			<div class="col-md-7">  
			  <div class="block block-block-content">
			    <img class="img-responsive" src="assets/images/service1.png">
			  </div>
			</div>
	        <div class="col-md-5">
	          <div class="logo-service">
			    <img class="img-responsive" src="assets/images/logo2.png">
			  </div>
	          <div class="text-service">
	          	<h2 class="title-section">Test Services</h2>
			    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
			     <ul class="tag-list-service" id="list-tags">
			       <li class="active">
		        	  <a href="/" class="is-active">usabilidad</a>
		            </li>
		            <li>
		        	  <a href="#">ui</a>
		            </li>
		            <li>
		            	<a href="#">ux</a>
		            </li>
		            <li>
		            	<a href="#">test con usuarios</a>
		            </li>
			      </ul>
	  			  <a href="#" class="button-service azul bg-blanco">Ver detalles</a>
			  </div>
			</div>
	    </div>
	</div>
</div>

<div id="service2" class="services bg-rojo">
	<div class="container-services">
	    <div class="row clearfix">    
	        <div class="col-md-5 pl-5">
	          <div class="logo-service">
			    <img class="img-responsive" src="assets/images/logo2.png">
			  </div>
	          <div class="text-service">
	          	<h2 class="title-section">Test Services</h2>
			    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
			     <ul class="tag-list-service" id="list-tags">
			       <li class="active">
		        	  <a href="/" class="is-active">usabilidad</a>
		            </li>
		            <li>
		        	  <a href="#">ui</a>
		            </li>
		            <li>
		            	<a href="#">ux</a>
		            </li>
		            <li>
		            	<a href="#">test con usuarios</a>
		            </li>
			      </ul>
	  			  <a href="#" class="button-service rojo bg-blanco">Ver detalles</a>
			  </div>
			</div>
			<div class="col-md-7">  
			  <div class="block block-block-content">
			    <img class="img-responsive" src="assets/images/service2.png">
			  </div>
			</div>
	    </div>
	</div>
</div>

<div id="service3" class="services">
	<div class="container-services">
	    <div class="row clearfix">    
			<div class="col-md-7">  
			  <div class="block block-block-content">
			    <img class="img-responsive" src="assets/images/service3.png">
			  </div>
			</div>
	        <div class="col-md-5">
	          <div class="logo-service">
			    <img class="img-responsive" src="assets/images/logo3.png">
			  </div>
	          <div class="text-service-gris">
	          	<h2 class="title-section-gris">Test Services</h2>
			    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
			     <ul class="tag-list-service" id="list-tags">
			       <li class="active">
		        	  <a href="/" class="is-active">usabilidad</a>
		            </li>
		            <li>
		        	  <a href="#">ui</a>
		            </li>
		            <li>
		            	<a href="#">ux</a>
		            </li>
		            <li>
		            	<a href="#">test con usuarios</a>
		            </li>
			      </ul>
	  			  <a href="#" class="button-service blanco bg-rojo">Ver detalles</a>
			  </div>
			</div>
	    </div>
	</div>
</div>

<div class="footer">
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-md-4">
	      <div class="copyright">
	      	©2020. All rights reserved.
	      </div>
	    </div>
	    <div class="col-md-4">
	    	<ul class="menu-list-contacto">
		       <li class="active">
	        	  <a href="#">Visítanos</a>
	            </li>
	            <li>
	        	  <a href="#">Escríbenos</a>
	            </li>
	            <li>
	            	<a href="#">Llámanos</a>
	            </li>
			</ul>
	    </div>
	    <div class="col-md-4">
	    	<ul class="menu-list-redes">
		       <li class="active">
	        	  <a class="facebook" href="#">Facebook</a>
	            </li>
	            <li>
	        	  <a class="twitter" href="#">Twitter</a>
	            </li>
	            <li>
	            	<a class="linkedin" href="#">Linkedin</a>
	            </li>
	            <li>
	            	<a class="youtube" href="#">Youtube</a>
	            </li>
			</ul>
	    </div>
	  </div>
	</div>
</div>

</body>
<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</html>
