.footer{
	background: #000;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0.5em 0.2em;
    .copyright{
    	padding: 0.5em 1em;
    }
    .menu-list-contacto{
      	display: flex;
	    justify-content: center;
	    align-items: center;
	    li{
	    	list-style: none;
		    padding: 0.5em 1em;
		    a{
		      color: #0aae09;
		    }
	    }
    }
    .menu-list-redes{
      display: flex;
      justify-content: flex-end;
      li{
      	list-style: none;
      	padding: 0.5em 1em;
      }
    }
    .facebook{
		color: #3e4ea7;
    }
    .twitter{
    	color: #079cbd;
    }
    .linkedin{
		color: #3f7ac0;
    }
    .youtube{
    	color: #d76565;
    }
}