
body{
  font-family: $fontFamily;
  font-size: $baseFontSize;
  line-height: 160%;
  color: $baseFontColor;
  overflow-x: hidden;
  font-weight: 300;
  background: $bodyBGColor;
  text-align: left;
  position: relative;
}

.bold {
	font-weight: $bold;
}
.blanco {
  color: $blanco;
}
.verde-claro{
  color: $verde_claro
}
.azul{
  color: $azul;
}
.rojo{
  color: $rojo;
}
.bg-blanco{
  background: $blanco;
}
.bg-azul{
  background: $azul;
}
.bg-rojo{
  background: $rojo;
}
.contact-button-verde{
	background: #0aae09;
    text-transform: uppercase;
    color: #fff;
    padding: 0.8em 2em;
    border-radius: 3px;
    letter-spacing: 1.3px;
    font-size: 0.8em;
}
.contact-button-negro{
	padding: 0.8em 2em;
    border-radius: 3px;
    font-size: 0.8em;
    border: 1px solid #0aae09;
    color: #0aae09;
    letter-spacing: 1.3px;
}
.wrapper-button-banner{
	margin: 3.5em 0.5em;
}
.uppercase{
	text-transform: uppercase;
}
.img-responsive{
	max-width: 100%;
    height: auto;
}
.section-middle{
	background: #1F262D;
    color: #fff;
    text-align: center;
    padding: 3.5em 0.5em;
}
.title-section{
	font-weight: bold;
	color: #fff;
}
.b1-block{
	background: #3b4148;
}
.b2-block{
    background: #161c21;
}
.b3-block{
	background: #202a37;
}
.block-content-service{
    color: #d3d0d3;
    .field--name-body{
		text-align: center;
	    padding: 4.5em 3.5em;
	    h2{
	    	color: #0aae09;
	    }
    }
}

.services{
  padding: 2em 0;
}
.text-service{
	color: $gris;
}
.text-service-gris{
	color: #111111;
    .title-section-gris{
      font-weight: bold;
    }
    .tag-list-service li a{
    	color: #111111;
    }
}
.tag-list-service{
	display: flex;
	padding: 0;
	li{
		list-style: none;
    	padding: 0 0.5em;
		a{
			color: #fff;
    		text-decoration: underline;
		}
	}
}

.button-service{
    padding: 1.1em 1.4em;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 2px;
}