.header {
	position: absolute;
    width: 100%;
    top: 0;
    z-index: 9;

	.navbar-header-wrapper{
      width: 100%;
	}

	.navbar-expand-lg .navbar-collapse{
		justify-content: flex-end;
		ul#main-menu{
			display: flex;
    		justify-content: right;
    		list-style: none;
    		li.active{
    			a{
    				color: #fff;
    				font-weight: bold;;
    			}
    		}
    		li{
    			padding: 0.5em 1em;
    			a{
    			  padding: 0.28em 0;
    			  color: #d3d0d3;
    			}
    			a:hover{
    			  border-bottom: 3px solid $verde_claro;
    			  text-decoration: none;
    			}
    		}
		}
	}
}

.hero-banner {
	position: relative;
  .wrapper-text-banner {
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
}

.header-aside-cta{
	background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5em 1.5em;
    .cta-logo{
    	width: 3%;
    }
    .cta-title{
    	color: #fff;
    }
}