/*Variables*/

$fontFamily: 'graphik';
$titleFontFamily: 'graphik';
$baseFontSize: 0.9em;
$bodyBGColor: #fff;
$baseFontColor: #333;
$bold: bold;

/*Colors*/
$verde_oscuro: #157e22;
$verde_claro: #0aae09;
$azul: #305192;
$rojo: #c4323d;
$gris: #d3d0d3;
$blanco : #fff;

